@model CreateContactDto
@{
    ViewData["Title"] = "New Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Harita URL</label>
    <input type="text" asp-for="MapUrl" class="form-control" />
    <br />
    <label>Phone</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <label>Mail</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

