@model UpdateContactDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Harita URL</label>
    <input type="text" asp-for="MapUrl" class="form-control" />
    <br />
    <label>Phone</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <label>Mail</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Güncelle</button>
</form>