@model CreateSubHeaderDto
@{
    ViewData["Title"] = "Create SubHeader";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <label>Address</label>
    <input type="text" asp-for="Address" class="form-control" />
    <br />
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <label>Facebook</label>
    <input type="text" asp-for="Facebook" class="form-control" />
    <br />
    <label>Twitter</label>
    <input type="text" asp-for="Twitter" class="form-control" />
    <br />
    <label>Linkedn</label>
    <input type="text" asp-for="Linkedn" class="form-control" />
    <br />
    <label>Instagram</label>
    <input type="text" asp-for="Instagram" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

