@model UpdateCounterDto
@{
    ViewData["Title"] = "Update Counter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Count</label>
    <input type="text" asp-for="Count" class="form-control" />
    <br />
    <button class="btn btn-outline-dark">Güncelle</button>
</form>

