@model CreateQADto
@{
    ViewData["Title"] = "Create QA";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Question</label>
    <input type="text" asp-for="Question" class="form-control" />
    <span asp-validation-for="Question" class="text-danger"></span>
    <br />
    <label>Answer</label>
    <input type="text" asp-for="Answer" class="form-control" />
    <span asp-validation-for="Answer" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

